.hamburger,
.close-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.close-btn {
    color: white;
    display: none;
}

@media only screen and (min-width: 847px) and (max-width: 1200px) {

    .filter-container {
        display: flex;
        gap: 10px;
    }

    .filter-container label {
        font-size: .8rem;
        white-space: nowrap;
    }

    .charts-container {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }

    .material,
    .data,
    .tamanho,
    .cores {
        flex: 1 1 30%;
        /* ou use width: 30% */
        min-width: 200px;
        /* evita que fiquem muito pequenos */
        margin: 10px;
        height: 30%;
        box-shadow: 9px 9px 9px -4px rgba(100, 100, 100, 1);
    }

    .material {
        order: 1;
    }

    .data {
        order: 2;
    }

    .tamanho {
        flex-basis: 100%;
        order: 3;
    }

    .cores {
        flex-basis: 100%;
        order: 4;
    }

}

@media only screen and (max-width: 846px) {

    .hamburger {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        font-size: 30px;
        background: none;
        border: none;
        color: #1C3788;
        z-index: 1001;
        cursor: pointer;
    }

    .sidebar {
        position: fixed;
        left: -250px;
        top: 0;
        width: 250px;
        height: 100%;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .sidebar.active {
        left: 0;
    }

    .sidebar.active+.main-content #hamburgerBtn {
        display: none;
    }

    .sidebar.active+.main-content #closeBtn {
        display: block;
    }

    .charts-container {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        height: 100vh;
    }

    .material,
    .data,
    .tamanho,
    .cores {
        width: 47%;
        height: 20%;
        box-shadow: 9px 9px 9px -4px rgba(100, 100, 100, 1);
    }

    .material {
        order: 1;
    }

    .data {
        order: 2;
    }

    .tamanho {
        flex-basis: 100%;
        order: 3;
    }

    .cores {
        flex-basis: 100%;
        order: 4;
    }

}

@media only screen and (min-width: 320px) and (max-width: 650px) {

    .dashboard-header h1 {
        display: none;
    }

    .filter-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        align-content: center;
    }

    .material,
    .data,
    .tamanho,
    .cores {
        width: 45%;
        height: 30%;

    }
}