* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    color: #1a1a1a;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-color: #1C3788;
    color: white;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.profile {
    text-align: center;
}

.avatar {
    background-color: #ccc;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.menu {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
}

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu-item img {
    width: 20px;
    height: 20px;
    transition: filter 0.3s;
}

.menu-item.active {
    background-color: white;
    color: #002366
}

.menu-item.sair {
    border: solid 1px white;
    margin-top: 40px;
}


.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.main-content h1 {
    color: #1d3060;
    text-align: center;
    margin-bottom: 40px;
}

.main {
    flex: 1;
    background-color: #fdfdfd;
}

.banner {
    height: 180px;
    background-color: #7e7e7e;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.foto-perfil {
    width: 120px;
    height: 120px;
    background-color: #c2c2c2;
    border-radius: 50%;
    position: absolute;
    bottom: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editar-icone {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.editar-icone img {
    width: 12px;
    height: 12px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    height: 60vh;
}

.formulario form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formulario label {
    font-size: 14px;
    margin-bottom: 4px;
}

.formulario input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.formulario button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background-color: #16327A;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.footer {
    background-color: #1d3060;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-icons img {
    width: 30px;
    margin: 0 8px;
    vertical-align: middle;
}